# Check Boston air bnb data
[Data url](http://insideairbnb.com/get-the-data/)

In [1]:
import pandas as pd
path = 'data/Boston/'
df_rev1 = pd.read_csv(path+'reviews1.csv')
df_rev2 = pd.read_csv(path+'reviews2.csv')
df_nei = pd.read_csv(path+'neighbourhoods.csv')
df_lis1 = pd.read_csv(path+'listings1.csv')
df_lis2 = pd.read_csv(path+'listings2.csv')
df_cal = pd.read_csv(path+'calendar.csv')

In [2]:
print(df_rev1.shape)
df_rev1.head()

(141499, 2)

   listing_id        date
0        3781  2015-07-10
1        3781  2015-08-09
2        3781  2015-09-01
3        3781  2015-09-30
4        3781  2015-10-30

In [3]:
print(df_rev2.shape)
df_rev2.head()

(141499, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3781,37776825,2015-07-10,36059247,Greg,The apartment was as advertised and Frank was ...
1,3781,41842494,2015-08-09,10459388,Tai,It was a pleasure to stay at Frank's place. Th...
2,3781,45282151,2015-09-01,12264652,Damien,The apartment description is entirely faithful...
3,3781,49022647,2015-09-30,41426327,Mike,Thoroughly enjoyed my time at Frank's home. Ha...
4,3781,52503327,2015-10-30,15151513,Ivan,Great value for the money! This location has e...

In [4]:
print(df_nei.shape)
df_nei.head()

(26, 2)

   neighbourhood_group neighbourhood
0                  NaN       Allston
1                  NaN      Back Bay
2                  NaN   Bay Village
3                  NaN   Beacon Hill
4                  NaN      Brighton

In [5]:
print(df_lis1.shape)
df_lis1.head()

(3462, 18)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3781,HARBORSIDE-Walk to subway,4804,Frank,NaN,East Boston,42.36413,-71.02991,Entire home/apt,132,32,22,2022-01-30,0.27,1,48,3,NaN
1,5506,** Fort Hill Inn Private! Minutes to center!**,8229,Terry,NaN,Roxbury,42.32844,-71.09581,Entire home/apt,149,3,110,2021-10-25,0.70,10,12,3,Approved by the government
2,6695,"Fort Hill Inn *Sunny* 1 bedroom, condo duplex",8229,Terry,NaN,Roxbury,42.32802,-71.09387,Entire home/apt,250,3,116,2021-10-12,0.75,10,105,1,STR446650
3,8789,Curved Glass Studio/1bd facing Park,26988,Anne,NaN,Beacon Hill,42.35867,-71.06307,Entire home/apt,110,91,25,2020-04-15,0.27,7,267,0,NaN
4,10730,Bright 1bed facing Golden Dome,26988,Anne,NaN,Downtown,42.35906,-71.06271,Entire home/apt,100,91,33,2021-12-16,0.22,7,223,1,NaN

In [6]:
print(df_lis2.shape)
for col in df_lis2:
    print(col)
df_lis2.head()

(3462, 74)
id
listing_url
scrape_id
last_scraped
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3781,https://www.airbnb.com/rooms/3781,20220320051201,2022-03-20,HARBORSIDE-Walk to subway,Fully separate apartment in a two apartment bu...,"Mostly quiet ( no loud music, no crowed sidewa...",https://a0.muscache.com/pictures/24670/b2de044...,4804,https://www.airbnb.com/users/show/4804,...,4.95,4.86,4.91,NaN,f,1,1,0,0,0.27
1,5506,https://www.airbnb.com/rooms/5506,20220320051201,2022-03-20,** Fort Hill Inn Private! Minutes to center!**,"Private guest room with private bath, You do n...","Peaceful, Architecturally interesting, histori...",https://a0.muscache.com/pictures/miso/Hosting-...,8229,https://www.airbnb.com/users/show/8229,...,4.89,4.54,4.78,Approved by the government,f,10,10,0,0,0.70
2,6695,https://www.airbnb.com/rooms/6695,20220320051201,2022-03-20,"Fort Hill Inn *Sunny* 1 bedroom, condo duplex","Comfortable, Fully Equipped private apartment...","Peaceful, Architecturally interesting, histori...",https://a0.muscache.com/pictures/38ac4797-e7a4...,8229,https://www.airbnb.com/users/show/8229,...,4.95,4.48,4.70,STR446650,f,10,10,0,0,0.75
3,8789,https://www.airbnb.com/rooms/8789,20220320051201,2022-03-20,Curved Glass Studio/1bd facing Park,This unit is for sale. There will need to be o...,Beacon Hill is a historic neighborhood filled ...,https://a0.muscache.com/pictures/32210/7fdd2fd...,26988,https://www.airbnb.com/users/show/26988,...,4.96,4.96,4.56,NaN,f,7,7,0,0,0.27
4,10730,https://www.airbnb.com/rooms/10730,20220320051201,2022-03-20,Bright 1bed facing Golden Dome,"Bright, spacious 1 bed on the 9th floor facing...",Beacon Hill is located downtown and is conveni...,https://a0.muscache.com/pictures/miso/Hosting-...,26988,https://www.airbnb.com/users/show/26988,...,4.92,4.96,4.46,NaN,f,7,7,0,0,0.22

In [7]:
print(df_cal.shape)
df_cal.head()

(1262901, 7)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,13655518,2022-03-20,f,$180.00,$180.00,2.0,1125.0
1,13655518,2022-03-21,f,$180.00,$180.00,2.0,1125.0
2,13655518,2022-03-22,f,$180.00,$180.00,2.0,1125.0
3,13655518,2022-03-23,f,$180.00,$180.00,2.0,1125.0
4,13655518,2022-03-24,f,$180.00,$180.00,2.0,1125.0